<div class="print-qrcode">
  <div class="qrcode-block qrcode-block__qrcode">
    <qrcode [qrdata]="array.printQRCode._id" [size]="100" level="Q"></qrcode>
  </div>
  <div class="qrcode-block">
    <p class="qrcode-name">{{array.printQRCode.name}}</p>
    <p class="qrcode-options">Артикул: <span class="qrcode-value">{{array.printQRCode.article ? array.printQRCode.article : 'Отсутствует'}}</span></p>
    <p class="qrcode-options qrcode-options--big">Цена:
      <span class="qrcode-value">{{array.printQRCode.orderCost}} руб</span>
    </p>
  </div>
</div>
