<table class="positions-table">
  <thead class="positions-table__header">
    <tr class="positions-title">
      <th class="positions-title__number">№</th>
      <th class="positions-title__date">Дата</th>
      <th class="positions-title__sale">Скидка</th>
      <th class="positions-title__cost">Сумма закупки</th>
      <th class="positions-title__cost">Сумма продажи</th>
      <th class="positions-title__arrow"></th>
    </tr>
  </thead>
  <tbody class="positions-table__body" *ngFor="let order of orders">
      <tr (click)="openChildren($event)" class="positions-item">
        <td class="positions-item__number">{{order.order}}</td>
        <td class="positions-item__date">{{order.date | date : 'dd.MM.yyyy'}}</td>
        <td class="positions-item__sale">{{( calc.price(order) * (order.sale / 100) ).toFixed(0) }} руб.</td>
        <td class="positions-item__cost">{{calc.orderCost(order)}} руб.</td>
        <td class="positions-item__cost">{{ ((calc.price(order) - ( calc.price(order) * (order.sale / 100)))).toFixed(0) }} руб.</td>
        <td class="positions-item__arrow"><span class="arrow-icon"><span class="arrow-icon__left"></span><span
              class="arrow-icon__right"></span></span></td>
      </tr>
      <tr class="positions-children">
        <td class="positions-children__block" colspan="6">
          <button class="positions-children__button active">Квитанция</button>
          <button class="positions-children__button" (click)="functions.onPrint({item: order, type: 'history'})">
            <svg class="svg-sprite-icon icon-print positions-children__icon">
              <use xlink:href="assets/images/svg/symbol/sprite.svg#print"></use>
            </svg>
          </button>
          <div class="positions-children__wrapper">
            <div class="item-descr active">
              <div class="item-table__block">
                <table class="positions-table">
                  <thead class="positions-table__header">
                    <tr class="positions-title">
                      <th class="positions-title__name">Название</th>
                      <th class="positions-title__article">Артикул</th>
                      <th class="positions-title__type">Тип товара</th>
                      <th class="positions-title__quantity">Колличество</th>
                      <th class="positions-title__cost">Цена закупки</th>
                      <th class="positions-title__cost">Цена продажи</th>
                      <th class="positions-title__fullcost">Сумма</th>
                      <th class="positions-title__remove">Возврат</th>
                    </tr>
                  </thead>
                  <tbody class="positions-table__body">
                    <tr class="positions-item" *ngFor="let item of order.list">
                      <td class="positions-item__name">{{item.name}}</td>
                      <td class="positions-item__article">{{item.article ? item.article : '&mdash;'}}</td>
                      <td class="positions-item__type">
                        <span *ngIf="item.type === 'product'">Товар</span>
                        <span *ngIf="item.type === 'colors'">Покраска</span>
                      </td>
                      <td class="positions-item__quantity">{{item.quantity}}</td>
                      <td class="positions-item__cost">{{item.orderCost}}</td>
                      <td class="positions-item__cost">{{item.cost}}</td>
                      <td class="positions-item__fullcost">{{ item.cost * item.quantity }}</td>
                      <td class="positions-item__remove" (click)="onReturn(order, item)" *ngIf="item.type === 'product'">
                        <svg class="svg-sprite-icon icon-close positions-item__remove--icon">
                          <use xlink:href="assets/images/svg/symbol/sprite.svg#close"></use>
                        </svg>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </td>
      </tr>
  </tbody>
</table>
