<table class="positions-table" style="font-size: 12px">
  <thead class="positions-table__header">
    <tr class="positions-title">
      <th class="positions-title__number">№</th>
      <th class="positions-title__date">Дата продажи</th>
      <th class="positions-title__name">Наименование товара</th>
      <th class="positions-title__quantity">Колличество</th>
      <th class="positions-title__price">Сумма закупки</th>
      <th class="positions-title__price">Сумма продажи</th>
      <th class="positions-title__price">Наценка</th>
      <th class="positions-title__option">Участие механика</th>
      <th class="positions-title__price">Сумма механика</th>
      <th class="positions-title__price">Сумма сервиса</th>
    </tr>
  </thead>
  <tfoot>
    <tr class="positions-item">
      <td class="positions-item__number"></td>
      <td class="positions-item__date"></td>
      <td class="positions-item__name"></td>
      <td class="positions-item__quantity">{{calc('quantity')}}</td>
      <td class="positions-item__price">{{calc('orderCost')}}</td>
      <td class="positions-item__price">{{calc('cost')}}</td>
      <td class="positions-item__price">{{calc('cost') - calc('orderCost')}}</td>
      <td class="positions-item__option"></td>
      <td class="positions-item__price">{{calc('mechanic') ? calc('mechanic').toFixed(1) : '&mdash;'}}</td>
      <td class="positions-item__price">{{calc('service').toFixed(1)}}</td>
    </tr>
  </tfoot>
  <tbody class="positions-table__body">
    <tr class="positions-item" *ngFor="let item of implement; let i = index;">
      <td class="positions-item__number">{{i + 1}}</td>
      <td class="positions-item__date">{{item.date | date : 'dd.MM.yyyy HH.mm'}}</td>
      <td class="positions-item__name">{{item.item.name}}</td>
      <td class="positions-item__quantity">{{item.item.quantity}}</td>
      <td class="positions-item__price">{{calcOne(item, 'orderCost') * item.item.quantity}}</td>
      <td class="positions-item__price">{{calcOne(item, 'cost') * item.item.quantity}}</td>
      <td class="positions-item__price">{{(calcOne(item, 'cost') - calcOne(item, 'orderCost')) * item.item.quantity}}
      </td>
      <td class="positions-item__option">{{item.mechanic ? item.mechanic : 'Нет'}}</td>
      <td class="positions-item__price">{{item.mechanic ? (calcOne(item, 'mechanic') * item.item.quantity).toFixed(1) : '&mdash;'}}
      </td>
      <td class="positions-item__price">
        <span
          *ngIf="item.mechanic">{{((calcOne(item, 'difference') -  calcOne(item, 'mechanic')) * item.item.quantity).toFixed(1)}}</span>
        <span *ngIf="!item.mechanic">{{(calcOne(item, 'difference') * item.item.quantity).toFixed(1)}}</span>
      </td>
    </tr>
  </tbody>
</table>