@import "input-field";
@import "form-group";

.form {
  &__body {
    margin-bottom: 20px;
    & > * {
      margin-top: 20px;
      &:first-child {margin-top: 0;}
    }
  }
  &__footer {
    & > * {
      margin: 10px 0;
      &:first-child {margin-top: 0;}
      &:last-child {margin-bottom: 0;}
    }
  }
  &-line {
    display: flex;
    align-items: center;
    &__error {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
      color: #a20000
    }
    & > * {
      &:not(:last-child) {margin-right: 20px;}
    }

  }
}
