<table class="positions-table list">
  <thead class="positions-table__header">
    <tr class="positions-title">
      <th class="positions-title__article">Артикул</th>
      <th class="positions-title__name">Наименование</th>
      <th class="positions-title__edit">Ред.</th>
      <th class="positions-title__print">QR Code</th>
      <th class="positions-title__price">Стоимость закупки</th>
      <th class="positions-title__price">Стоимость продажи</th>
      <th class="positions-title__quantity">В наличии</th>
      <th class="positions-title__cart"></th>
    </tr>
  </thead>
  <tbody class="positions-table__body" *ngFor="let position of array.products">
    <tr class="positions-item" [ngClass]="{'positions-item--visibled': position.openItem === true}">
      <td class="positions-item__article">{{position.article ? position.article : 'Отсутствует'}}</td>
      <td class="positions-item__name">{{position.name}}</td>
      <td class="positions-item__edit">
        <svg class="svg-sprite-icon icon-printqr positions-item__cart-icon" (click)="openChildren(position)">
          <use xlink:href="assets/images/svg/symbol/sprite.svg#edit"></use>
        </svg>
      </td>
      <td class="positions-item__print">
        <svg class="svg-sprite-icon icon-printqr positions-item__cart-icon" (click)="functions.onPrintQRCode(position)">
          <use xlink:href="assets/images/svg/symbol/sprite.svg#printqr"></use>
        </svg>
      </td>
      <td class="positions-item__price">{{position.cost}}</td>
      <td class="positions-item__price">{{position.orderCost}}</td>
      <td class="positions-item__quantity">{{position.quantity}}</td>
      <td class="positions-item__cart">
        <input class="positions-item__cart-input" type="number" min="1" max="{{position.quantity}}" oninput="this.value = Math.abs(this.value)" [(ngModel)]="position.selQuantity" [disabled]="position.quantity === 0">
        <button class="positions-item__cart-button" (click)="addCart(position)" [disabled]="position.quantity === 0">
          <svg class="svg-sprite-icon icon-cart positions-item__cart-icon">
            <use xlink:href="assets/images/svg/symbol/sprite.svg#cart"></use>
          </svg>
        </button>
      </td>
    </tr>
    <tr class="positions-children visibled" *ngIf="position.openItem === true">
      <td class="positions-children__block" colspan="8">
        <div class="positions-children__wrapper">
          <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(position)" >
            <div class="form__body">
              <div class="form-line">
                <div class="form-group form-group--required">
                  <label class="form-group__label">
                    Наименования товара:
                  </label>
                  <input class="input-field" id="autocomplute" name="autocomplute"
                    placeholder="Масло моторное полусинтетическое Shell Helix HX7 10W-40, 4л"
                    formControlName="name" [ngClass]="{error: form.get('name').invalid && form.get('name').touched}">
                </div>
                <div class="form-group">
                  <label class="form-group__label">Артикул:</label>
                  <input class="input-field" name="article" id="article" placeholder="550040315" formControlName="article"
                    [ngClass]="{error: form.get('article').invalid && form.get('article').touched}">
                </div>
                <div class="form-group">
                  <label class="form-group__label">Колличество:</label>
                  <input class="input-field" placeholder="1" formControlName="quantity"
                    [ngClass]="{error: form.get('quantity').invalid && form.get('quantity').touched}">
                </div>
              </div>
              <div class="form-line">
                <div class="form-group">
                  <label class="form-group__label">Выберите тип товара</label>
                  <select class="select input-field" formControlName="type">
                    <option value="product">Товар</option>
                    <option value="colors">Покраска</option>
                  </select>
                </div>
                <div class="form-group" >
                  <label class="form-group__label">Цена закупки:</label>
                  <input class="input-field" placeholder="1000 руб." formControlName="cost"
                    [ngClass]="{invalid: form.get('cost').invalid && form.get('cost').touched}">
                </div>
                <div class="form-group">
                  <label
                    class="form-group__label">Цена продажи</label>
                  <input class="input-field" placeholder="1300 руб" formControlName="orderCost"
                    [ngClass]="{invalid: form.get('orderCost').invalid && form.get('orderCost').touched}">
                </div>
              </div>
            </div>
            <div class="form__footer">
              <div class="form-line">
                <div class="form-group">
                  <input class="button" type="button" value="Отмена" (click)="position.openItem = false">
                </div>
                <div class="form-group">
                  <input class="button button--red" type="button" value="Удалить" (click)="onDelete(position)">
                </div>
                <div class="form-group">
                  <input class="button button--green" type="submit" value="Изменить">
                </div>
              </div>
            </div>
          </form>
        </div>
      </td>
    </tr>
  </tbody>
</table>
