<div class="cart-module">
  <div class="cart">
    <div class="cart-header">
      <button class="cart-header__button" (click)="selModule('basket')" [disabled]="success"
        [ngClass]="{'active': module === 'basket'}">Корзина</button>
      <button class="cart-header__button" (click)="selModule('registration')"
        [disabled]="array.cart.length === 0 || success" [ngClass]="{'active': module === 'registration'}">Оформление
        заказа</button>
      <button class="cart-header__button" (click)="selModule('result')" [ngClass]="{'active': module === 'result'}">Результат</button>
    </div>
    <div class="cart-body">

      <div class="cart-body__wrapper cart-body__basket" *ngIf="module === 'basket'">
        <table class="cart-basket__table">
          <thead class="cart-basket__header">
            <tr class="cart-basket-title">
              <th class="cart-basket-title__name">Наименование</th>
              <th class="cart-basket-title__type">Тип</th>
              <th class="cart-basket-title__price">Цена</th>
              <th class="cart-basket-title__quantity"></th>
              <th class="cart-basket-title__remove"></th>
            </tr>
          </thead>
          <tbody class="cart-basket__body">
            <tr class="cart-basket-item" *ngFor="let item of array.cart">
              <td class="cart-basket-item__name">{{item.name}}</td>
              <td class="cart-basket-item__type">
                <span *ngIf="item.type === 'product'">Товар</span>
                <span *ngIf="item.type === 'service'">Услуги</span>
              </td>
              <td class="cart-basket-item__price">{{item.cost}}</td>
              <td class="cart-basket-item__quantity">
                <input *ngIf="item.type === 'product'" class="cart-basket-item__quantity-input" type="number" min="1"
                  oninput="this.value = Math.abs(this.value)" (change)="ordersService.changeItemQuantity(item)"
                  [(ngModel)]="item.quantity">
              </td>
              <td class="cart-basket-item__remove" (click)="removeItem(item)">
                <svg class="svg-sprite-icon icon-close cart-basket-item__icon">
                  <use xlink:href="assets/images/svg/symbol/sprite.svg#close"></use>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="cart-body__wrapper cart-body__registration" *ngIf="module === 'registration'">
        <div class="cart-registration">
          <form class="form" [formGroup]="form">
            <div class="form__body">
              <div class="form-line">
                <div class="form-group form-group">
                  <label class="form-group__label">Скидка в процентах:</label>
                  <input class="input-field" placeholder="0%" (input)="changePrice('percent')" formControlName="percent"
                    [ngClass]="{'error': form.get('percent').invalid && form.get('percent').touched}">
                </div>
                <div class="form-group form-group">
                  <label class="form-group__label">Скидка в рублях:</label>
                  <input class="input-field" placeholder="0 руб." (input)="changePrice('rub')" formControlName="rub"
                    [ngClass]="{'error': form.get('rub').invalid && form.get('rub').touched}">
                </div>
              </div>
              <div class="form-line__error">
                Максимальная скидка 50% или {{calc.cartCost() / 2}} рублей
              </div>
              <div class="form-line">
                <div class="form-group">
                  <label class="form-group__label">Механик:</label>
                  <select name="" id="" formControlName="mechanic" class="input-field select">
                    <option value="null" disabled selected>Не выбрано</option>
                    <option value="Денис">Денис</option>
                    <option value="Юрий">Юрий</option>
                  </select>
                </div>
                <div class="form-group" *ngIf="form.get('mechanic').value !== 'null'">
                  <label class="form-group__label">Процент механику:</label>
                  <input type="number" class="input-field" placeholder="0%" formControlName="mechanicPercent">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="cart-body__wrapper cart-body__result" *ngIf="module === 'result'">
        <div class="cart-result__title">
          <h2>Заказ успешно сформировнан</h2>
        </div>
        <div class="cart-result__line">
          <p class="cart-result__descr">Сумма: <span class="cart-result__bold">{{calc.cartCost()}} руб.</span></p>
          <p class="cart-result__descr">Скидка: <span
              class="cart-result__bold">{{form.get('rub').value ? form.get('rub').value : 0}} руб.</span></p>
        </div>
        <div class="cart-result__line">
          <p class="cart-result__descr"> Сумма к оплате: <span
              class="cart-result__bold">{{calc.cartCost() - form.get('rub').value}}
              руб.</span></p>
        </div>
        <div class="cart-result__line" *ngIf="!success">
          <button class="cart-result__button cart-result__button--false" [disabled]="loading"
            (click)="onClose()">Отказ</button>
          <button class="cart-result__button cart-result__button--true" [disabled]="loading"
            (click)="onSubmitCreate()">Принять</button>
        </div>
        <div class="cart-result__line" *ngIf="success">
          <button class="cart-result__button cart-result__button--false" *ngIf="order"
            (click)="onClose('new')">Закрыть</button>
          <button class="cart-result__button cart-result__button--true cart-result__button--big" *ngIf="order"
            (click)="onPrint()">Распечатать
            заказ-наряд</button>
        </div>
      </div>

      <div class="cart-body__total">
        <div class="cart-total__qrcode-block">
          <label for="qrcode" class="cart-total__qrcode active">
            <svg class="svg-sprite-icon icon-qrcode cart-total__icon">
              <use xlink:href="assets/images/svg/symbol/sprite.svg#qrcode"></use>
            </svg>
            QR Code
          </label>
          <input type="text" id="qrcode" class="cart-total__qrcode-input" (input)="setQrCode()" [(ngModel)]="qrcode">
        </div>

        <button class="cart-total__button">
          <svg class="svg-sprite-icon icon-arrow cart-total__icon"
            [ngClass]="{'next': array.cart.length !== 0 }" *ngIf="module !== 'result'"
            (click)="nextModule()">
            <use xlink:href="assets/images/svg/symbol/sprite.svg#arrow"></use>
          </svg>
          <svg class="svg-sprite-icon icon-close cart-total__icon" (click)="onClose()" *ngIf="module === 'result'">
            <use xlink:href="assets/images/svg/symbol/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
    </div>

  </div>


  <div class="cart-button" (click)="toggleCart()">
    <svg class="svg-sprite-icon icon-cart cart-button__icon">
      <use xlink:href="assets/images/svg/symbol/sprite.svg#cart"></use>
    </svg>
  </div>
</div>
