<div class="positions-filter">
  <div class="form-line">
    <div class="form-group">
      <input class="input-field" placeholder="Номер заказа" name="number">
    </div>
    <div class="form-group">
      <input class="input-field" placeholder="Дата, начало" name="start">
    </div>
    <div class="form-group">
      <input class="input-field" placeholder="Дата, конец" name="end">
    </div>
    <div class="form-group">
      <button class="button">Применить</button>
    </div>
  </div>
</div>
