.print {
  width: 750px;
  position: absolute;
  display: none;
  top: 0;
  z-index: 999;
  background: $white;
  font-family: serif;
  padding: 20px;
  font-size: 18px;
  & > *:not(:last-child) {margin-bottom: 10px;}
  &-header {
      display: flex;
      flex-direction: column;
      & > *:not(:last-child) {margin-bottom: 10px;}
      &__title {
          border-bottom: 2px solid $black;
          font-size: 30px;
          line-height: 50px;
      }
      &__item {
          display: flex;
          & > *:not(:last-child) {margin-right: 10px; margin-bottom: 5px;}
      }
      &__value {
          font-weight: bold;
          &--upper {
              text-transform: uppercase;
          }
      }
  }
  &-body {
      display: flex;
      flex-direction: column;
      & > *:not(:last-child) {margin-bottom: 10px;}
  }
  &-table {
      width: 100%;
      border-collapse: collapse;
      * {
          padding: 2px;
      }
      th, td {
          border: 1px solid $black;
      }
      &__tbody {
          * {text-align: center;}
      }
      &__tfoot {
          font-weight: bold;
          text-align: right;
      }
      &__title {
          font-weight: bold;
          text-align: left;
      }
  }
  &-thead {
    &__number { width: 30px; }
    &__quantity { width: 120px; }
    &__total {
      width: 120px;
      position: relative;
      &--required {
        &::after {
          content: '*';
          font-size: 14px;
          position: absolute;
          top: 2px;
        }
      }
    }
  }
  &-tbody {
    &__name {
      text-align: left;
      font-size: 14px;
      line-height: 12px;
      &--big {
          font-size: 16px;
      }
    }
    &__quantity {text-align: right;}
    &__total { text-align: right; }
    &__sale {text-align: right;}
  }
  &-tfoot {
    &__sale {
      width: 110px;
    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    & > *:not(:last-child) {margin-bottom: 10px;}
    &__descr {
      position: relative;
      padding-left: 8px;
      font-size: 14px;
      &::before {
        content: '*';
        position: absolute;
        left: 0;
        top: -2px;
      }
    }
    &__signature {
      display: flex;
      justify-content: center;
      border-top: 2px solid $black;
      padding-top: 10px;
      font-weight: bold;
      & > * {
        margin-right: 200px;
        position: relative;
        &::after {
            content: '';
            width: 150px;
            height: 2px;
            border-bottom: 2px solid $black;
            display: block;
            position: absolute;
            right: -160px;
            bottom: 2px;
        }
      }
    }
  }
}

.print-qrcode {
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: -8px;
  height: 200px;
  width: 280px;
  font-size: 13px;
  .qrcode {
    &-options {
      font-weight: bold;
      &--big {
        font-size: 20px;
      }
    }
    &-value {font-weight: normal;}
    &-block {
      &__qrcode {
        margin: 0 5px;
      }
      display: flex;
      flex-direction: column;
      & > *:not(:last-child) {margin-bottom: 10px;}
    }
  }
}

@media print {
  .header, .content, #toast-container {
    display: none;
  }
  .print {
    display: block;
    padding: 20px;
    margin: 20px;

  }
  .print-qrcode {
    display: flex;
    margin-left: 15px;

  }
  @page {
    margin: 0;
    padding: 0;
  }
}
