@import 'wrapper';
@import 'preloader';
@import 'print';

.arrow-icon {
  background-color: transparent;
  height: auto;
  width: 60px;
  display: block;
  padding: 0.5em;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  &__left {
    position: absolute;
    background-color: transparent;
    width: 40px;
    height: 10px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
    transition: all $duration $easing;
    &:after {
      content:"";
      background-color: white;
      width: 40px;
      height: 10px;
      display: block;
      float: right;
      border-radius: 6px 10px 10px 6px;
      z-index: -1;
    }
  }
  &__right {
    position: absolute;
    background-color: transparent;
    width: 40px;
    height: 10px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
    transition: all $duration $easing;
    &:after {
      content:"";
      background-color: white;
      width: 40px;
      height: 10px;
      display: block;
      float: right;
      border-radius: 10px 6px 6px 10px;
      z-index: -1;
    }
  }
  &.open {
    .arrow-icon {
      &__left {
        transform-origin: center center;
        transform: rotate(-70deg);
      }
      &__right {
        transform-origin: center center;
        transform: rotate(70deg);
      }
    }
  }
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .form {
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: .3)
  }
}
