.wrapper {
  &-content {
    background-image: url('assets/images/general/bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
  }
  &-page {
    height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 20px;
  }
  &-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 60px);
    font-size: 18px;
  }
}
