<form [formGroup]="form">
  <div mat-dialog-title>
    <h4>
      <span *ngIf="data.type === 'edit'">Изменить заказ</span>
      <span *ngIf="data.type === 'create'">Корзина</span>
    </h4>
  
    <mat-form-field *ngIf="orderService.positionToOrder.length !== 0">
      <mat-label>Способ выполнения заказа:</mat-label>
      <mat-select formControlName="delivery_method" (selectionChange)="inputForm()">
        <mat-option value="service">Сервис</mat-option>
        <mat-option value="delivery">Доставка</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    
    <h2 *ngIf="orderService.positionToOrder.length === 0" style="text-align: center;">Список товар в корзине пуст</h2>

    <table *ngIf="orderService.positionToOrder.length !== 0" mat-table #table [dataSource]="orderService.positionToOrder">
      <ng-container matColumnDef="article">
        <th class="center" style="width: 100px;" mat-header-cell *matHeaderCellDef> Артикул </th>
        <td class="center" mat-cell *matCellDef="let element"> {{element.article ? element.article : '&mdash;'}} </td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Наименование </th>
        <td class="ellipsis" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="companion">
        <th class="center" style="width: 120px;" mat-header-cell *matHeaderCellDef> Сотрудник </th>
        <td class="center" mat-cell *matCellDef="let element"> 
          <mat-form-field>
            <mat-select [(ngModel)]="element.companion" [ngModelOptions]="{standalone: true}">
              <mat-option value="0">Не выбран</mat-option>
              <mat-option *ngFor="let companion of companions" [value]="companion.id">{{companion.full_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="companion_percent">
        <th class="center" style="width: 50px;" mat-header-cell *matHeaderCellDef> % </th>
        <td class="center" mat-cell *matCellDef="let element"> 
          <mat-form-field>
            <input matInput [disabled]="+element.companion <= 0" type="number" style="text-align: right;" [(ngModel)]="element.companion_percent" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="cost_of_sale">
        <th class="center" style="width: 110px;" mat-header-cell *matHeaderCellDef> Цена продажи </th>
        <td class="center" mat-cell *matCellDef="let element"> {{element.cost_of_sale.toLocaleString()}} руб </td>
      </ng-container>
    
      <ng-container matColumnDef="quantity">
        <th class="center" style="width: 80px;" mat-header-cell *matHeaderCellDef> Количество </th>
        <td class="center" mat-cell *matCellDef="let element"> 
          <mat-form-field>
            <input matInput type="number" [(ngModel)]="element.quantity" [ngModelOptions]="{standalone: true}" (input)="orderService.changeCartQuantityPositionToOrder(element)">
          </mat-form-field>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="options">
        <th class="center" style="width: 70px;" mat-header-cell *matHeaderCellDef> Опции </th>
        <td class="options center" mat-cell *matCellDef="let element">
          <button type="button" matTooltip="Убрать из корзины" mat-flat-button color="warn" (click)="deletePosition(element)"><mat-icon>remove_shopping_cart</mat-icon></button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="['article', 'name', 'companion', 'companion_percent', 'cost_of_sale', 'quantity', 'options']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['article', 'name', 'companion', 'companion_percent', 'cost_of_sale', 'quantity', 'options']"></tr>
    </table>
  
    <div class="row" *ngIf="orderService.positionToOrder.length !== 0">
      <mat-form-field>
        <mat-label>ФИО заказчика:</mat-label>
        <input matInput formControlName="full_name" (change)="inputForm()" name="order_full_name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Номер телефона:</mat-label>
        <input matInput formControlName="phone" (change)="inputForm()" prefix="+7 " mask="(000) 000-00-00" [dropSpecialCharacters]="false" name="order_phone" autocomplete="off">
      </mat-form-field>
    </div>
  
    <div class="row" *ngIf="form.get('delivery_method').value === 'delivery' && orderService.positionToOrder.length !== 0">
      <mat-form-field>
        <mat-label>Адрес доставки:</mat-label>
        <input matInput formControlName="address_delivery" (change)="inputForm()" name="order_address_delivery">
      </mat-form-field>
    </div>
  
    <div class="row" *ngIf="form.get('delivery_method').value === 'service' && orderService.positionToOrder.length !== 0">
      <mat-form-field>
        <mat-label>Стоимость работ:</mat-label>
        <input matInput type="number" min="1" formControlName="cost_of_work" (change)="inputForm()" name="order_cost_of_work">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Сотрудник выполняющий работу:</mat-label>
        <mat-select formControlName="companion" [disabled]="form.get('cost_of_work').value <= 0" (selectionChange)="inputForm()">
          <mat-option value="0">Сотрудник не выбран</mat-option>
          <mat-option *ngFor="let companion of companions" [value]="companion.id">{{companion.full_name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="row" *ngIf="orderService.positionToOrder.length !== 0">
      <mat-form-field>
        <mat-label>Скидка:</mat-label>
        <mat-select formControlName="sale" (selectionChange)="inputForm()">
          <mat-option value="0">0%</mat-option>
          <mat-option value="3">3%</mat-option>
          <mat-option value="5">5%</mat-option>
          <mat-option value="10">10%</mat-option>
          <mat-option value="15">15%</mat-option>
          <mat-option value="20">20%</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Итого:</mat-label>
        <input matInput value="{{
          (sharedService.calcOrderPrice(orderService.positionToOrder) + 
          form.get('cost_of_work').value) - 
          sharedService.calcPercent(sharedService.calcOrderPrice(orderService.positionToOrder) + 
          form.get('cost_of_work').value, form.get('sale').value)
        }} руб" [disabled]="true">
      </mat-form-field>
    </div>
  
  </div>
  <div mat-dialog-actions>
    <div class="left">
      <button mat-flat-button color="warn" *ngIf="data.type === 'edit'">Удалить товар</button>
      <div class="qrcode-block">
        <input name="qrcode" id="qrcode" (input)="qrcodeSearch($event)">
        <label for="qrcode" class="qrcode" matTooltip="Сканировать QR-Code"><mat-icon>qr_code_scanner</mat-icon></label>
      </div>
    </div>
    <div class="right">
      <button mat-button type="button" mat-dialog-close>Закрыть</button>
      <button mat-flat-button (click)="onSubmit()" color="primary" [disabled]="form.disabled || form.invalid" *ngIf="orderService.positionToOrder.length !== 0">
        <span *ngIf="data.type === 'edit'">Изменить</span>
        <span *ngIf="data.type === 'create'" >Создать заказ</span>
      </button>
    </div>
  </div>
</form>
