<form [formGroup]="form" (ngSubmit)="onSubmit()" class="col s12 auth__form">
  <h3 class="title">Авторизация</h3>
  <div class="row">
    <div class="input-field col s12" style="margin-top: 20px;">
      <input id="email" type="email" class="validate" formControlName="email" [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}">
      <label for="email">E-mail:</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password" type="password" class="validate" formControlName="password" [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}">
      <label for="password">Пароль:</label>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <button class="btn waves-effect waves-light" type="submit" [disabled]="form.invalid || form.disabled">Войти</button>
    </div>
  </div>
</form>
