<div class="login-page">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <div class="form__body">
      <div class="form-line">
        <div class="form-group">
          <label class="form-group__label">Почта:</label>
          <input type="email" formControlName="email" placeholder="exemple@mail.ru" class="input-field" [ngClass]="{'error': form.get('email').invalid && form.get('email').touched}">
        </div>
      </div>
      <div class="form-line">
        <div class="form-group">
          <label class="form-group__label">Пароль:</label>
          <input type="password" formControlName="password" placeholder="*******" class="input-field" [ngClass]="{'error': form.get('password').invalid && form.get('password').touched}">
        </div>
      </div>
    </div>
    <div class="form__footer">
      <div class="form-line">
        <div class="form-group">
          <button class="button" [disabled]="form.invalid || form.disabled">Войти</button>
        </div>
      </div>
    </div>
  </form>
</div>
