.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: $sidebar-width;
  background-color: $bg-sidebar;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
  transition: all .3s linear;
  z-index: 15;
  &__block {
    &-nav {
      overflow-y: auto;
      padding-bottom: 20px;
    }
  }
  &-nav {
    &__link {
      background-color: $sidebar-item-color;
      padding: 10px;
      border-top: 1px solid rgb(198, 198, 198);
      cursor: pointer;
      color: rgb(84, 84, 84);
      display: flex;
      align-items: center;
      width: 100%;
      transition: all .2s linear;
      &.active {
        background-color: #04488b;
        color: #fff;
      }
    }
  }
}
